<h1 style="color:white; text-align: center;">: Book Details :</h1>
<br/>

<!-- Book content-->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div  class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 style="color:black" align="center">Book Details</h3>
      </div>
      <div class="modal-body">
        <p style="color:black"><strong>Book Name:</strong> {{bookName}}</p>
          <p style="color:black"><strong>Author Name:</strong> {{authorName}}</p>
          <p style="color:black"><strong>ISBN: </strong>{{isbn}}</p>
          <p style="color:black"><strong>Publisher:</strong> {{publishers}}</p>
          <p style="color:black"><strong>Number Of Pages:</strong> {{page}}</p>
          <p style="color:black"><strong>Media Type:</strong> {{media}}</p>
          <p style="color:black"><strong>Released Date:</strong> {{releasedDate}}</p>
          <p style="color:black"><strong>Country:</strong> {{country}}</p>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
